.planning-mgt-day-main-container {
  color: var(--papayawhip);
  background-color: var(--military-green);
  width: 80%;
  border-radius: 5px;
  padding-top: 5px;
}

.planning-seance-table {
  width: 100%;
  background-color: transparent;
}

.planning-seance-table-rows {
  background-color: var(--military-yellow);
}

.planning-seance-table input {
  background-color: var(--papayawhip);
}

.planning-mgt-day-seance-container {
  width: 100%;
  margin-top: 5px;
}

.planning-input {
  width: 80%;
}

th.mat-header-cell {
  font-weight: bold;
}

.planning-seance-table {
  font-weight: 500;
}

.edited_line input {
  background-color: whitesmoke;
  border-width: 2px;
  border-style: inset;
  border-color: #767676FF;
  border-image: initial;
  cursor: text;
}

.read_only_line input {
  background-color: var(--military-yellow);
  border: none;
  cursor: default;
}

.planning-input-number {
  width: 50px;
}

.day-name-seance-number {
  margin-left: 10px;
}

.seance-planning-day-name {
  font-weight: 500;
  font-size: 18px;
}

.seance-planning-day-seance-number {
  font-weight: 300;
}

.seance-planning-creation-icon {
  position: relative;
  top: -2px;
  right: 7px;
}

.seance-planning-creation-icon:hover {
  color: var(--skin-yellow);
}

.card-update-planning {
  background-color: var(--military-yellow);
  width: 80%;
  margin: 20px auto 0;
}

.no-seance-for-day-test {
  margin-left: 10px;
}
