<div @smoothAppearing class="flex-div width-100">
  <div class="margin-auto planning-form-card width-100 max-width-800">
    <mat-card class="card-update-planning">
      <mat-card-title>
        <div class='flex-div no-wrap width-100'>
          {{ "PLANNING.DETAILS_PLANNING" | translate}}
          <span class="spacer"></span>
          <mat-icon (click)="editPlanningName()" *ngIf="planning.readOnly"
                    class="hover-orange show-pointer"
                    matTooltip="{{ 'TOOLTIP.EDIT_PLANNING_NAME' | translate }}">edit
          </mat-icon>
          <mat-icon (click)="savePlanningName()" *ngIf="!planning.readOnly"
                    class="hover-green show-pointer"
                    matTooltip="{{ 'TOOLTIP.SAVE_PLANNING_NAME' | translate }}">check
          </mat-icon>
        </div>
      </mat-card-title>
      <div class="form-field-container text-centered">
        <mat-form-field>
          <mat-label>{{ "PLANNING.NAME" | translate }}</mat-label>
          <input [formControl]="nameFormControl" [readonly]="planning.readOnly" matInput
                 type="text"/>
        </mat-form-field>
      </div>
    </mat-card>
    <div *ngFor="let number of [].constructor(nbDaysToShow); let index = index"
         class="planning-mgt-day-main-container margin-auto margin-top-10">
      <div class="seance-planning-day-name flex-div">
        <div class='no-wrap day-name-seance-number'>
          {{ "UTILS.DAY_NAME_" + (index + 1) % 7 | translate}}
          <span *ngIf="seancesList.get( (index + 1) % 7 )?.length == 1"
                class='seance-planning-day-seance-number'>
            &nbsp;-&nbsp;
            {{ seancesList.get((index + 1) % 7).length }}
            {{ "PLANNING.SEANCE_NUMBER_FOR_DAY" | translate }}
          </span>
          <span *ngIf="seancesList.get( (index + 1) % 7 )?.length > 1"
                class='seance-planning-day-seance-number'>
            &nbsp;-&nbsp;
            {{ seancesList.get((index + 1) % 7).length }}
            {{ "PLANNING.SEANCES_NUMBER_FOR_DAY" | translate }}
          </span>
        </div>
        <span class='spacer'></span>
        <mat-icon (click)="createNewSeance( (index + 1) % 7 )"
                  class="seance-planning-creation-icon show-pointer"
                  matTooltip="{{ 'TOOLTIP.ADD_NEW_SEANCE_ROW' | translate }}">
          add_circle
        </mat-icon>
      </div>
      <form>
        <div class="planning-mgt-day-seance-container">
          <ng-container *ngIf="seancesList.get( (index + 1) % 7 )?.length > 0">
            <app-seance-planning-tab-for-day
              (deleteSeancePlanningEmitter)='removeSeanceFromPlanning($event)'
              (validateSeancePlanningFormEmitter)='validateSeancePlanningForm($event)'
              [seancesPlanning]='seancesList.get( (index + 1) % 7 )'>
            </app-seance-planning-tab-for-day>
          </ng-container>
          <ng-container
            *ngIf="!seancesList.get( (index + 1) % 7 ) || seancesList.get( (index + 1) % 7 )?.length <= 0">
            <span
              class='no-seance-for-day-test'>{{"PLANNING.NO_SEANCE_FOR_DAY" | translate }}</span>
          </ng-container>
        </div>
      </form>
    </div>
  </div>
</div>
