<div class="div-flex">
  <div class="margin-auto">
    <mat-card class="seance-form-card mat-elevation-z7">
      <form class="form-standard">
        <div class="div-flex">
          <div class="margin-auto">
            <div class="form-field-container">
              <mat-form-field>
                <mat-label>{{ "SEANCE.NAME" | translate }}</mat-label>
                <input [formControl]="seance.nameFormControl" matInput type="text"/>
              </mat-form-field>
            </div>
            <div class="form-field-container">
              <mat-form-field>
                <mat-label>{{ "SEANCE.MAX_SPOT" | translate }}</mat-label>
                <input [formControl]="seance.maxSpotFormControl" matInput type="text"/>
              </mat-form-field>
            </div>
            <div class="form-field-container">
              <mat-form-field>
                <mat-label>{{ "SEANCE.START_DATE" | translate }}</mat-label>
                <input [formControl]="seance.startDateFormControl" matInput type="datetime-local"/>
              </mat-form-field>
            </div>
            <div class="form-field-container">
              <mat-form-field>
                <mat-label>{{ "SEANCE.DURATION" | translate }}</mat-label>
                <input [formControl]="seance.durationFormControl" matInput type="number"/>
              </mat-form-field>
            </div>
            <div class="form-field-container">
              <mat-form-field>
                <mat-label>{{ "SEANCE.LOCATION" | translate }}</mat-label>
                <input [formControl]="seance.locationFormControl" matInput type="text"/>
              </mat-form-field>
            </div>
            <div class="form-field-container grid-col-2 text-centered">
              <button (click)="postSeanceForm()" class="form-button" mat-raised-button>
                {{"SEANCE.BUTTON_SAVE" | translate}}
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
