<div @smoothAppearing class='width-100'>
  <mat-card
    class="seance-card mat-elevation-z3 grid-container-seance width-100 text-centered">
    <div [ngClass]="{
                'is-subscribed' : seance.isUserSubscribed(getJwtTokenObject().userId),
                'is-subscribed-to-waiting' : seance.isUserSubscribedToWaitingList(getJwtTokenObject().userId)
                }" class="left-seance-container grid-column-span-2">
      <div *ngIf="seance.isUserSubscribed(getJwtTokenObject().userId)">
        <mat-icon class="seance-mgt-icons">check</mat-icon>
      </div>
      <div *ngIf="seance.isUserSubscribedToWaitingList(getJwtTokenObject().userId)">
        <mat-icon class="seance-mgt-icons">alarm_on</mat-icon>
      </div>
      <div class='place_in_queue_number'>
        <ng-container *ngIf="seance.isUserSubscribedToWaitingList(getJwtTokenObject().userId)">
          {{ seance.waitingListPosition(getJwtTokenObject().userId) }}
        </ng-container>
      </div>
    </div>
    <div class="middle-seance-container text-left">
      <mat-card-title>{{seance.name}}</mat-card-title>
      <mat-card-content>
        <p>
          {{seance.startDate | date: 'HH:mm':timeZone:'fr' }}
          <span *ngIf='seance.location?.length > 0 '> - {{ seance.location}}</span>
        </p>
        <p *ngIf='seance.users.length + seance.guests.length >= seance.maxSpot'>
          {{ "SEANCE.SEANCE_FULL" |translate}}
        </p>
        <p *ngIf='seance.users.length + seance.guests.length < seance.maxSpot'>
          {{seance.users.length + seance.guests.length}}/{{seance.maxSpot}}
        </p>
      </mat-card-content>
    </div>
    <div class="right-seance-container">
      <div>
        <button *ngIf="
                !seance.isUserSubscribed(getJwtTokenObject().userId) &&
                !seance.isUserSubscribedToWaitingList(getJwtTokenObject().userId)"
                mat-icon-button
        >
          <mat-icon (click)="subscribeToSeance(seance.id)"
                    class="show-pointer seance-mgt-icons hover-green"
                    matTooltip='{{ "TOOLTIP.SUBSCRIBE" |translate}}'>
            add_circle
          </mat-icon>
        </button>
        <button *ngIf="
                seance.isUserSubscribed(getJwtTokenObject().userId) ||
                seance.isUserSubscribedToWaitingList(getJwtTokenObject().userId)"
                mat-icon-button
        >
          <mat-icon (click)="unsubscribeToSeance(seance.id)"
                    class="show-pointer seance-mgt-icons hover-red"
                    matTooltip='{{ "TOOLTIP.UNSUBSCRIBE" |translate}}'>
            remove_circle
          </mat-icon>
        </button>
      </div>
      <div>
        <button *ngIf="this.hasRoleCoach()" [matMenuTriggerFor]="menu" aria-label="Seance Menu"
                mat-icon-button>
          <mat-icon class="hover-orange seance-menu-icon"
                    matTooltip='{{ "TOOLTIP.SEANCE_COACH_MENU" |translate}}'>
            more_vert
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="goToSeanceDetails(seance.id)" mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>{{"SEANCE.EDIT_SEANCE" | translate}}</span>
          </button>
          <button (click)='deleteSeance(seance.id)' mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>{{"SEANCE.VIEW_SUBSCRIBED_USER" | translate}}</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-card>
</div>
