.grid-container-seance {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0;
}

.left-seance-container {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(45px, auto);
}

.middle-seance-container {
  grid-column: span 6;
}

.right-seance-container {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(45px, auto);
}

.is_subscribed_to_waiting {
  background-color: var(--waiting-queue-blue);
}

.is_subscribed {
  background-color: var(--subscribed-green);
}

.seance-mgt-icons {
  font-size: 26px;
}

::ng-deep .mat-menu-panel {
  background-color: var(--military-green);
}

.seance-card {
  margin: 0px 10px 10px;
  background-color: var(--military-yellow);
  padding: 0;
  border-radius: 0 0 5px 5px;
  width: 210px;
  text-align: center;
}

.seance-card mat-card-title {
  margin-top: 10px;
  padding: 2px;
  font-size: 16px;
  min-height: 40px;
}

.seance-card mat-card-footer {
  position: relative;
  margin-bottom: 0;
}

.seance-card-day-date {
  background-color: var(--military-green);
  color: papayawhip;
  margin: 10px 10px 0;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  width: 200px;
  text-align: center;
}
