.grid-container-seance {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0;
}

.left-seance-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(45px, auto);
  text-align: left;
}

.middle-seance-container {
  grid-column: span 7;
}

.right-seance-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(45px, auto);
}

.is-subscribed-to-waiting {
  background: linear-gradient(90deg, var(--waiting-queue-blue) 20%, var(--military-yellow) 90%);

  border-radius: 5px 0 0 5px;
}

.is-subscribed {
  background: linear-gradient(90deg, var(--subscribed-green) 20%, var(--military-yellow) 90%);
  border-radius: 5px 0 0 5px;
}

.seance-mgt-icons {
  font-size: 26px;
  margin-left: 5px;
  margin-top: 5px;
}

.place_in_queue_number {
  margin-left: 14px;
  font-weight: bold;
  color: var(--black-light);
  margin-top: 12px;
}

::ng-deep .mat-menu-panel {
  background-color: var(--military-green);
}

.seance-card {
  background-color: var(--military-yellow);
  padding: 0;
  border-radius: 5px;
}

.seance-card mat-card-title {
  margin-top: 5px;
  padding: 3px 3px 3px 15px;
  font-size: 18px;
}

.seance-card mat-card-content {
  margin-top: 10px;
  line-height: 0.6;
  padding: 3px 3px 3px 15px;
}

.seance-menu-icon {
  margin-left: 5px;
}

