.seance-form-card {
  background-color: var(--military-yellow);;
  color: papayawhip;
  margin: 20px;
}

.div-height-100 {
  height: 100%;
}

.guest-form-card mat-card-title {
  text-align: center;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  grid-row: auto;
  align-items: center;
}

.remove-subscribed-icon {
  position: relative;
  top: -2px;
  margin-right: 5px;
}

.remove-subscribed-icon:hover {
  color: darkred;
}

.seance-tooltip-icon {
  position: relative;
  top: -2px;
  margin-right: 5px;
}

.user-line-container:hover {
  background-color: var(--hover-green);
}

.user-line-container {
  vertical-align: center;
  padding-top: 5px;
  padding-bottom: 2px;
  width: 100%;
  display: flex;
}

.mat-expansion-panel,
.mat-expansion-panel-header,
.mat-expansion-panel-header:hover,
.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover {
  background-color: var(--skin-yellow);
}

::ng-deep .mat-expansion-panel-body {
  background-color: var(--military-yellow);
}
