.user-card {
  width: 80%;
  padding: 5px;
  background-color: var(--military-yellow);
  color: var(--papayawhip);
}

.search-user-field-card {
  padding: 10px;
  background-color: var(--papayawhip);
  width: 80%;
}

.user-list-filters-action-div {
  margin-top: 10px;
}

.search-user-field-card mat-form-field {
  width: 100%;
}

.user-card:hover {
  background-color: var(--hover-green);;
}

.user-card mat-card-content {
  margin-top: 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  grid-auto-rows: minmax(50px, auto);
}

.user-list-calendar-icon {
  font-size: 19px;
  margin-right: 4px;
}


