<mat-toolbar class="main-toolbar">
  <button
    (click)="toggleMenu()"
    *ngIf="isLoggedIn()"
    aria-label="Toggle sidenav"
    mat-icon-button
    type="button"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>{{ "SIDENAV.TOOLBAR_TITLE" | translate }}</span>

  <ng-container *ngIf="isLoggedIn()">
    <span class="spacer"></span>
    <span>{{ getJwtTokenObject().foreName }}</span>
    <mat-icon class='toolbar-account-icon'>account_circle</mat-icon>
  </ng-container>
</mat-toolbar>
<mat-drawer-container class="sidenav-container">
  <mat-drawer
    #drawer
    class="sidenav"
    mode="over"
    role="navigation"
  >
    <ng-container *ngIf="isLoggedIn()">
      <mat-toolbar class="sidenav">{{ "SIDENAV.MENU" | translate }}</mat-toolbar>
      <mat-nav-list (click)="toggleMenu()" *ngIf="hasRoleCoach()">
        <a [routerLink]="['/users']" mat-list-item>{{ "SIDENAV.USERS_LIST" | translate }}</a>
      </mat-nav-list>
      <mat-nav-list (click)="toggleMenu()">
        <a [routerLink]="['/seances']" mat-list-item>{{ "SIDENAV.SEANCES_LIST" | translate }}</a>
      </mat-nav-list>
      <mat-nav-list (click)="toggleMenu()">
        <a [routerLink]="['/mySeances']"
           mat-list-item>{{ "SIDENAV.MY_SEANCES_LIST" | translate }}</a>
      </mat-nav-list>
      <mat-nav-list (click)="toggleMenu()" *ngIf="hasRoleCoach()">
        <a [routerLink]="['/planning']"
           mat-list-item>{{ "SIDENAV.PLANNING_MANAGEMENT" | translate }}</a>
      </mat-nav-list>
      <mat-nav-list (click)="logOut()">
        <a mat-list-item>{{ "SIDENAV.LOG_OUT" | translate }}</a>
      </mat-nav-list>
    </ng-container>
  </mat-drawer>
  <mat-drawer-content>
    <div class='main-content-container'>
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
