.sidenav-container {

}

.mat-drawer-container {
  background-color: transparent;
}

.main-content-container {
  padding: 15px;
  background-color: #2f2c2c;
  color: papayawhip;
}

.main-toolbar {
  background-color: var(--military-green);
  color: papayawhip;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  font-size: 16px;
}

.sidenav, .sidenav a {
  background-color: var(--military-green);
  color: papayawhip;
}

.toolbar-account-icon {
  margin-left: 5px;
}
