.sidenav-container {
  min-height: 400px;
}

.mat-drawer-container {
  background-color: transparent;
}

.main-content-container {
  padding: 15px;
}

.main-content-container {
  background-color: #2f2c2c;
  color: papayawhip;
}

.main-toolbar {
  background-color: #596643;
  color: papayawhip;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000;
}

.sidenav, .sidenav a {
  background-color: #596643;
  color: papayawhip;
}
