<div class="div-flex">
  <div class="margin-auto grid-container">
    <div class="calendar-arrow">
      <mat-icon (click)="goTPreviousDay()" class="image-180">play_circle_filled</mat-icon>
    </div>
    <div class="calendar-arrow-spacer">
      <button (click)="goToNewSeance()" *ngIf="hasRoleCoach()" class="form-button" mat-raised-button>
        {{"SEANCE.CREATE_NEW_SEANCE" | translate}}
      </button>
    </div>
    <div class="calendar-arrow">
      <mat-icon (click)="goToNextDay()">play_circle_filled</mat-icon>
    </div>

    <mat-card *ngFor="let number of [].constructor(nbDaysToShow); let index = index"
              class="text-centered day-title-card">
      <mat-card-content>
        {{ getDateForCalendar(index) | date: 'EEEE - dd/MM':timeZone:'fr' }}
      </mat-card-content>
    </mat-card>

    <div *ngFor="let number of [].constructor(nbDaysToShow); let index = index"
         class="text-centered day-of-week day-of-week-{{ index }}"
    >
      <ng-container *ngIf='seancesList.get( getDateKey(getDateForCalendar(index)) )'>
        <div class="seances-of-day-container">
          <ng-container
            *ngFor='let seance of seancesList.get( getDateKey(getDateForCalendar(index)) )'>
            <mat-card
              class="seance-card mat-elevation-z3 grid-container-seance">
              <div [ngClass]="{
                is_subscribed : seance.isUserSubscribed(getJwtTokenObject().userId),
                is_subscribed_to_waiting : seance.isUserSubscribedToWaitingList(getJwtTokenObject().userId)
                }" class="left-seance-container">
                <div></div>
                <div *ngIf="seance.isUserSubscribed(getJwtTokenObject().userId)">
                  <mat-icon class="seance-mgt-icons">check</mat-icon>
                </div>
                <div *ngIf="seance.isUserSubscribedToWaitingList(getJwtTokenObject().userId)">
                  <mat-icon class="seance-mgt-icons">alarm_on</mat-icon>
                </div>
                <div>
                  <ng-container *ngIf="seance.isUserSubscribedToWaitingList(getJwtTokenObject().userId)">
                    {{ seance.waitingListPosition(getJwtTokenObject().userId) }}
                  </ng-container>
                </div>
              </div>
              <div class="middle-seance-container">
                <mat-card-title>{{seance.name}}</mat-card-title>
                <mat-card-content>
                  {{seance.startDate | date: 'HH:mm':timeZone:'fr' }}
                </mat-card-content>
                <mat-card-footer>
                  {{seance.users.length}}/{{seance.maxSpot}}
                </mat-card-footer>
              </div>
              <div class="right-seance-container">
                <div>
                  <button *ngIf="
                !seance.isUserSubscribed(getJwtTokenObject().userId) &&
                !seance.isUserSubscribedToWaitingList(getJwtTokenObject().userId)"
                          mat-icon-button
                  >
                    <mat-icon (click)="subscribeToSeance(seance.id)" class="show-pointer seance-mgt-icons hover-green">
                      add_circle
                    </mat-icon>
                  </button>
                </div>
                <div>
                  <button *ngIf="
                seance.isUserSubscribed(getJwtTokenObject().userId) ||
                seance.isUserSubscribedToWaitingList(getJwtTokenObject().userId)"
                          mat-icon-button
                  >
                    <mat-icon (click)="unsubscribeToSeance(seance.id)" class="show-pointer seance-mgt-icons hover-red">
                      remove_circle
                    </mat-icon>
                  </button>
                </div>
                <div>
                  <button *ngIf="showSeanceMenu" [matMenuTriggerFor]="menu" aria-label="Seance Menu"
                          mat-icon-button>
                    <mat-icon class="hover-orange">more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" class="seance-pop-up-menu">
                    <button (click)="goToSeanceDetail(seance.id)" mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>{{"SEANCE.EDIT_SEANCE" | translate}}</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>{{"SEANCE.VIEW_SUBSCRIBED_USER" | translate}}</span>
                    </button>
                  </mat-menu>
                </div>
              </div>
            </mat-card>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
