<div class="flex-div">
  <div class="margin-auto grid-container">
    <div class="calendar-arrow show-pointer">
      <mat-icon (click)="goTPreviousDay()" class="image-180 show-pointer">play_circle_filled</mat-icon>
    </div>
    <div class="calendar-arrow-spacer">
      <button (click)="goToNewSeance()" *ngIf="hasRoleCoach()" class="form-button" mat-raised-button>
        {{"SEANCE.CREATE_NEW_SEANCE" | translate}}
      </button>
    </div>
    <div class="calendar-arrow">
      <mat-icon (click)="goToNextDay()" class="show-pointer">play_circle_filled</mat-icon>
    </div>

    <mat-card *ngFor="let number of [].constructor(nbDaysToShow); let index = index" @fadeSlideInOut
              class="text-centered day-title-card">
      <mat-card-content>
        {{ getDateForCalendar(index) | date: 'EEEE - dd/MM':timeZone:'fr' }}
      </mat-card-content>
    </mat-card>

    <div *ngFor="let number of [].constructor(nbDaysToShow); let index = index"
         class="text-centered day-of-week day-of-week-{{ index }}"
    >
      <ng-container *ngIf='seancesList.get( getDateKey(getDateForCalendar(index)) )'>
        <div class="seances-of-day-container">
          <ng-container
            *ngFor='let seance of seancesList.get( getDateKey(getDateForCalendar(index)) )'>
            <app-seance-card (goToSeanceDetailChangeEmitter)="goToSeanceDetails($event)"
                             (subscribeToSeanceChangeEmitter)="subscribeToSeance($event)"
                             (unsubscribeFromSeanceChangeEmitter)="unsubscribeFromSeance($event)"
                             [seance]="seance">
            </app-seance-card>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
