.seance-div-main-container {
  display: flex;
  flex-direction: column;
}

.image-180 {
  transform: rotate(180deg);
  margin-top: 8px;
}

.seance-day-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  background-color: var(--military-green);
  z-index: 5;
  width: 90%;
  color: var(--papayawhip);
}

