.change-password-form-card {
  background-color: var(--military-yellow);
  color: var(--black-light);
  margin: 20px;
}

.change-password-main-container {
  max-width: 400px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}
