<div @smoothAppearing class="flex-div">
  <div class="margin-auto width-100">
    <div class='change-password-main-container margin-auto'>
      <mat-card class="change-password-form-card mat-elevation-z7 margin-auto">
        <form [formGroup]="formGroupPassword" class="form-standard">
          <div class="flex-div">
            <div class="margin-auto grid-container">
              <div class="form-field-container grid-column-span-4 text-centered">
                <mat-form-field>
                  <mat-label>{{ "AUTH.ACTUAL_PASSWORD" | translate }}</mat-label>
                  <input [type]="hideCurrent ? 'password' : 'text'"
                         formControlName='currentPassword' id='currentPassword'
                         matInput/>
                  <mat-icon (click)="hideCurrent = !hideCurrent"
                            matSuffix>{{hideCurrent ? 'visibility_off' : 'visibility'}}</mat-icon>

                </mat-form-field>
              </div>
              <div></div>
              <div class="form-field-container grid-column-span-4 text-centered">
                <mat-form-field>
                  <mat-label>{{ "AUTH.NEW_PASSWORD" | translate }}</mat-label>
                  <input [type]="hideNew ? 'password' : 'text'" formControlName='newPassword'
                         id='newPassword'
                         matInput/>
                  <mat-icon (click)="hideNew = !hideNew"
                            matSuffix>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-hint *ngIf='newPassword.errors?.minlength'>minlength</mat-hint>
                  <mat-hint *ngIf='confirmPassword.errors?.noSpecialChars'>spec chars</mat-hint>

                </mat-form-field>
              </div>
              <div>
                <mat-icon class='margin-top-10'
                          matTooltip='{{ "TOOLTIP.REQUIREMENT_FOR_PASSWORD" | translate }}'>help
                </mat-icon>
                <mat-icon *ngIf='newPassword.invalid && !newPassword.untouched'
                          class='error-icon margin-top-10'>
                  report_problem
                </mat-icon>
                <mat-icon *ngIf='newPassword.valid' class='valid-icon margin-top-10'>check_circle
                </mat-icon>
              </div>
              <div class="form-field-container grid-column-span-4 text-centered">
                <mat-form-field>
                  <mat-label>{{ "AUTH.NEW_PASSWORD_CONFIRM" | translate }}</mat-label>
                  <input [type]="hideConfirm ? 'password' : 'text'"
                         formControlName='confirmPassword' id='confirmPassword'
                         matInput/>
                  <mat-icon (click)="hideConfirm = !hideConfirm"
                            matSuffix>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-hint *ngIf='confirmPassword.errors?.passwordsDontMatch'
                            class='form-error-text'>{{ "AUTH.PASSWORD_NOT_MATCHING" | translate }}</mat-hint>
                </mat-form-field>
              </div>
              <mat-icon *ngIf='confirmPassword.invalid && !confirmPassword.untouched'
                        class='error-icon margin-top-10'>
                report_problem
              </mat-icon>
              <mat-icon *ngIf='confirmPassword.valid && !confirmPassword.untouched'
                        class='valid-icon margin-top-10'>check_circle
              </mat-icon>
              <div
                class='grid-column-span-5 text-centered'></div>
              <div class="grid-column-span-5 text-centered margin-top-40">
                <button (click)="updatePassword()"
                        [disabled]="formGroupPassword.invalid"
                        class="form-button" mat-raised-button>
                  {{"AUTH.SAVE_PASSWORD_CHANGE" | translate}}
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
