.planning-mgt-day-main-container {
  width: 1024px;
  margin-top: 10px;
  color: papayawhip;
}

.planning-seance-table {
  width: 100%;
  background-color: #94812B;
}

.planning-seance-table input {
  background-color: papayawhip;
}

.planning-mgt-day-seance-container {
  width: 100%;
  margin-top: 5px;
}

.planning-input {
  width: 80%;
}

.planning-input-number {
  width: 80px;
}
