<div class="div-flex">
  <div class="margin-auto">
    <div *ngFor="let number of [].constructor(nbDaysToShow); let index = index" class="planning-mgt-day-main-container">
      <h2>{{ "UTILS.DAY_NAME_" + (index + 1) % 7 | translate}}</h2>
      <form>
        <div class="planning-mgt-day-seance-container">
          <ng-container *ngIf="seancesList.get( (index + 1) % 7 )?.length > 0">

            <table [dataSource]="seancesList.get( (index + 1) % 7 )" class="mat-elevation-z8 planning-seance-table"
                   mat-table>
              <!-- Position Column -->
              <ng-container matColumnDef="seanceName">
                <th *matHeaderCellDef mat-header-cell>{{ "COLUMN.SEANCE_NAME" | translate }}</th>
                <td *matCellDef="let element" mat-cell>
                  <input [formControl]="seanceNameFormController" class="planning-input" name="seanceName" type="text"/>
                  <!--                {{element.name}} -->
                </td>
              </ng-container>
              <ng-container matColumnDef="startDate">
                <th *matHeaderCellDef mat-header-cell> {{ "COLUMN.START_TIME" | translate }} </th>
                <td *matCellDef="let element" mat-cell>
                  <input [formControl]="startDateFormController" class="planning-input" name="startDate" type="time"/>
                  <!--                {{element.startDate}} -->
                </td>
              </ng-container>
              <!-- Weight Column -->
              <ng-container matColumnDef="duration">
                <th *matHeaderCellDef mat-header-cell> {{ "COLUMN.DURATION" | translate }} </th>
                <td *matCellDef="let element" mat-cell>
                  <input [formControl]="dureeSeanceFormController" class="planning-input-number" name="dureeSeance"
                         type="number"/>
                  <!--                {{element.duration}} -->
                </td>
              </ng-container>
              <!-- Symbol Column -->
              <ng-container matColumnDef="maxSpot">
                <th *matHeaderCellDef mat-header-cell> {{ "COLUMN.MAX_SPOT" | translate }} </th>
                <td *matCellDef="let element" mat-cell>
                  <input [formControl]="maxSpotFormController" class="planning-input-number" name="maxSpot"
                         type="number"/>
                  <!--                {{element.maxSpot}} -->
                </td>
              </ng-container>
              <ng-container matColumnDef="coach">
                <th *matHeaderCellDef mat-header-cell> {{ "COLUMN.COACH" | translate }} </th>
                <td *matCellDef="let element" mat-cell>
                  <input [formControl]="coachIdFormController" class="planning-input" name="coachId" type="text"/>
                  <!--                {{element.coachId}} -->
                </td>
              </ng-container>
              <ng-container matColumnDef="location">
                <th *matHeaderCellDef mat-header-cell> {{ "COLUMN.LOCATION" | translate }} </th>
                <td *matCellDef="let element" mat-cell>
                  <input [formControl]="locationFormController" class="planning-input" name="location" type="text"/>
                  <!--                {{element.location}} -->
                </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell> {{ "COLUMN.ACTIONS" | translate }} </th>
                <td *matCellDef="let element" mat-cell>
                  <mat-icon>edit</mat-icon>
                  <mat-icon>check</mat-icon>
                </td>
              </ng-container>
              <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
              <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
            </table>
          </ng-container>
          <ng-container *ngIf="!seancesList.get( (index + 1) % 7 ) || seancesList.get( (index + 1) % 7 )?.length <= 0">
            {{"PLANNING.NO_SEANCE_FOR_DAY" | translate }}
          </ng-container>
        </div>
      </form>
    </div>
  </div>
</div>
