<div @smoothAppearing class="flex-div width-100">
  <div class="margin-auto width-100 max-width-800">
    <mat-card class="subcriptions-management-card mat-elevation-z7">
      <mat-card-content>
        <div class="form-field-container width-85 margin-auto">
          <mat-radio-group aria-labelledby="example-radio-group-label"
                           class="example-radio-group"
                           color='warn'>
            <mat-radio-button class="example-radio-button" value='test'>Carnet de 10 séances ( xxx €
              )
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value='test1'>Abonnement d'un mois ( xxx
              € )
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value='test2'>Abonnement de trois mois (
              xxx € )
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value='test3'>Abonnement d'un an ( xxx €
              )
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div #paypalRef class='margin-top-40'></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
