.card-planning {
  margin-top: 20px;
  background-color: var(--military-yellow);
  width: 85%;
}

.planning-list-div {
  padding: 5px;
  border-radius: 4px;
}

.planning-list-div:hover {
  background-color: var(--hover-green);
}

.planning-active-icon {
  color: var(--military-green);
}
