.card-planning {
  margin-top: 20px;
  background-color: var(--content-background);
  width: 85%;
  color: var(--main-text-color)
}

.planning-list-div {
  padding: 5px;
  border-radius: 4px;
}

.planning-list-div:hover {
  background-color: var(--main-hover);
}

.planning-active-icon {
  color: var(--toolbar-background);
}
