.user-form-card {
  background-color: var(--content-background);
  color: var(--main-text-color);
  width: 80%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
