<div @smoothAppearing class="flex-div">
  <div class="margin-auto width-100">
    <mat-card class="user-form-card mat-elevation-z7 margin-auto text-centered max-width-800">
      <mat-card-content>
        <form class="form-standard">
          <div class="form-field-container">
            <mat-form-field>
              <mat-label>{{ "USER.FORENAME" | translate }}</mat-label>
              <input [formControl]="user.forenameFormControl" matInput type="text"/>
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <mat-form-field>
              <mat-label>{{ "USER.LASTNAME" | translate }}</mat-label>
              <input [formControl]="user.lastnameFormControl" matInput type="text"/>
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <mat-form-field>
              <mat-label>{{ "USER.USERNAME" | translate }}</mat-label>
              <input [formControl]="user.usernameFormControl" matInput type="email"/>
            </mat-form-field>
          </div>
          <div class='form-field-container text-left flex-div margin-auto margin-top-20 width-85'>
            <span class='no-wrap'>{{ "USER.USE_SESSION_NOTEBOOK" | translate }}</span>
            <span class='spacer'></span>
            <mat-slide-toggle [formControl]="user.useSessionNotebookFormControl" color="warn">
            </mat-slide-toggle>
          </div>
          <div class="form-field-container">
            <mat-form-field>
              <mat-label>{{ "USER.AVAILABLE_SESSION_NUMBER" | translate }}</mat-label>
              <input [formControl]="user.availableSessionNumberFormControl" matInput step="1"/>
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <mat-form-field>
              <mat-label>{{ "USER.ADDRESS" | translate }}</mat-label>
              <input [formControl]="user.addressFormControl" matInput type="text"/>
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <mat-form-field>
              <mat-label>{{ "USER.ZIP_CODE" | translate }}</mat-label>
              <input [formControl]="user.zipCodeFormControl" matInput type="text"/>
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <mat-form-field>
              <mat-label>{{ "USER.CITY" | translate }}</mat-label>
              <input [formControl]="user.cityFormControl" matInput type="text"/>
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <mat-form-field>
              <mat-label>{{ "USER.SUBSCRIPTION_DATE" | translate }}</mat-label>
              <input [formControl]="user.subscriptionDateFormControl" matInput type="date"/>
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <mat-form-field>
              <mat-label>{{ "USER.BIRTHDATE" | translate }}</mat-label>
              <input [formControl]="user.birthDateFormControl" matInput type="date"/>
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <mat-form-field>
              <mat-label>{{ "USER.RENEWAL_DATE" | translate }}</mat-label>
              <input [formControl]="user.renewalDateFormControl" matInput type="date"/>
            </mat-form-field>
          </div>
          <div class="form-field-container">
            <mat-form-field>
              <mat-label>{{ "USER.PAYMENT_METHOD" | translate }}</mat-label>
              <input [formControl]="user.paymentMethodFormControl" matInput type="text"/>
            </mat-form-field>
          </div>
          <div class='form-field-container text-left flex-div margin-auto margin-top-20 width-85'>
            <span class='no-wrap'>{{ "USER.FREE_ACCESS" | translate }}</span>
            <span class='spacer'></span>
            <mat-slide-toggle [formControl]="user.freeAccessFormControl"
                              color="warn">
            </mat-slide-toggle>
          </div>
          <div class="form-field-container">
            <mat-form-field>
              <mat-label>{{ "USER.BADGE_REFERENCE" | translate }}</mat-label>
              <input [formControl]="user.badgeReferenceFormControl" matInput type="text"/>
            </mat-form-field>
          </div>
          <div class="form-field-container width-85 margin-auto">
            <mat-selection-list [formControl]='user.rolesFormControl' class='text-left'
                                color="warn">
              <mat-list-option *ngFor="let combo of rolesArray" [value]="combo">
                {{ 'ROLES.' + combo | translate }}
              </mat-list-option>
            </mat-selection-list>
          </div>
          <div class="form-field-container text-centered">
            <button (click)="postUserForm()" [disabled]="!user.isValid(user)" class="form-button"
                    mat-raised-button>
              {{"USER.BUTTON_SAVE" | translate}}
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
