@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.div-flex {
  display: flex;
}

.margin-auto {
  margin: auto;
}

.form-field-container {
  padding: 10px;
  margin: 5px;
  min-width: 250px;
}

.show-pointer {
  cursor: pointer;
}

.form-button {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  alignment: center;
  background-color: #bda37c;
}

.form-button:hover {
  background-color: papayawhip;
}

.spacer {
  flex: 1 1 auto;
  width: 100%;
}

.form-field-container mat-form-field {
  width: 100%;
}

.text-centered {
  text-align: center;
}

.main-body {
  background-color: #2f2c2c;
  color: papayawhip;
}

.error-snackbar {
  background: red;
}

.success-snackbar {
  background: green;
}

.warning-snackbar {
  background: darkorange;
}

.no-wrap {
  white-space: nowrap;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

.margin-top-20 {
  margin-top: 20px;
}

