@import "cflh-theme";

.flex-div {
  display: flex;
}

.margin-auto {
  margin: auto;
}

.form-field-container {
  padding: 5px;
}

.form-field-container mat-form-field {
  width: 90%;
}

.show-pointer {
  cursor: pointer;
}

.form-button {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  alignment: center;
  background-color: var(--button);
  color: var(--main-text-color)
}

.form-button:hover {
  background-color: var(--button-hover);
}

.spacer {
  flex: 1 1 auto;
  width: 100%;
}

.text-centered {
  text-align: center;
}

.text-left {
  text-align: left;
}

body {
  background-color: var(--body-background-color);
  color: var(--main-text-color);
  //background-image: url('/assets/image/pas_apa.png');
}

.error-snackbar {
  background: red;
}

.success-snackbar {
  background: green;
}

.warning-snackbar {
  background: darkorange;
}

.hover-green:hover {
  color: green;
}

.hover-red:hover {
  color: darkred;
}

.hover-orange:hover {
  color: darkorange;
}

.no-wrap {
  white-space: nowrap;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-40 {
  margin-top: 40px;
}

.mat-tooltip {
  background-color: var(--grey-light-full-opacity);
  font-size: 12px;
}

.form-standard mat-form-field {
  height: 20px;
}

.grid-column-span-2 {
  grid-column: span 2;
}

.grid-column-span-4 {
  grid-column: span 4;
}

.grid-column-span-5 {
  grid-column: span 5;
}

.width-100 {
  width: 100%;
}

.width-85 {
  width: 85%;
}

.flash-test {
  background-color: deepskyblue;
}

mat-icon {
  color: var(--actions-color);
}

.error-icon {
  color: var(--error-red);
}

.valid-icon {
  color: var(--valid-green);
}

.max-width-800 {
  max-width: 800px;
}

.seance-planning-action-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px 0 10px;
}

mat-hint {
  color: darkred !important;
}

.mat-list-item:hover {
  background-color: var(--main-text-color) !important;
  color: var(--toolbar-background) !important;
}

.current-menu {
  background-color: var(--button-hover) !important;
}

.bottom-spacer {
  min-height: 40px;
}

