.cancelButton {
  color: var(--white);
  background-color: var(--military-green);
  text-transform: uppercase;
}

.confirmButton {
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--grey-xxx-light);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

::ng-deep .mat-dialog-container {
  background-color: var(--military-yellow);
}
